#header {
  background-color: #8a1538;
  color: white;
  padding: 12px;
}

.nav-link {
  color: white;
}

table {
  position: relative;
  margin: 40px;
}

body {
  background-image: url('image/image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  display: inline;
}

h3.float-right {
  margin-left: 400px;
}
