#header {
  background: radial-gradient(#bb3f64, #420819);
  color: white;
  padding: 12px;
}

.nav-link {
  color: white;
}

table {
  position: relative;
  margin-top: 30px;
  padding: 0 50px 0 50px;
  border-collapse: separate;
  border-spacing: 1px 1px;
  border-radius: 20px;
}

/* #finalsTable {
  background-color: rgb(228, 228, 228);
} */

/* #semisTable {
  background-color: rgb(209, 209, 209);
} */

/* #quartersTable {
  background-color: rgb(180, 180, 180);
} */
body {
  height: 100vh;
  width: 100vw;
}

.flags {
  height: 20px;
  width: 20px;
}

.mainPage {
  background-image: url('images/image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  display: inline;
}

h3.float-right {
  margin-left: 400px;
}
<<<<<<< HEAD

tr :hover {
  background-color: #ffff99;
  color: purple;
}

#wcTrophy {
  background-color: #3f131f;
  width: 150px;
  height: 100px;
}

#main {
  position: relative;
  top: 75px;
  width: 100%;
}

#wc2022 {
  background: radial-gradient(#bb3f64, #420819);
}
=======
>>>>>>> parent of c0a20db (Some changes on the css for world-cupHistory.html header)
